<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABERTURA DE CHAMADOS</title>
</head>
<body>
    <h2>Abertura de Chamado</h2>
    <form method="post" action="abertura">
        <label>Local</label>
        <input type="text" name="local_chamado">
        <br>
        <label>Setor</label>
        <input type="text" name="setor_chamado">
        <br>
        <label>Nome</label>
        <input type="text" name="nome_resp">
        <br>
        <label>Comentário</label>
        <br>
        <textarea cols="30" rows="15" name="comentario_chamado">
        </textarea>
        <br>
        <br>
        <input type="submit" value="ABRIR">
    </form>
</body>
</html>